<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g3upfix.main"
    android:versionCode="3"
    android:versionName="1.02" >
	
    <uses-sdk android:minSdkVersion="15" 
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
 		android:allowBackup="false"
    >
        <activity android:name=".UpfixControlActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name =".UpfixService" /> 
        <receiver android:name=".BootReceiver">   
            <intent-filter>   
                <action android:name="android.intent.action.BOOT_COMPLETED"/>   
                <category android:name="android.intent.category.HOME" />   
            </intent-filter>   
        </receiver> 
    </application>
</manifest>
